### Question 0

*  Draw a concepts diagram that uses all the following Github terminology 
   * Include any missing keywords that will simplify the concepts diagrams 


`Push`, `Repository`, `Clone`, `Pull`, `Pull Request`, `Branch`, `Merging`, `Github Client`, `README file`, `Private or Public`

In [ ]:
# Add your photo here

#### Question 1

`matrix(c(1,2,3,4,5,6) , nrow = 3)`

* Running the expression produces the following matrix

|  |  |
|---|---|
| 1 | 4 |
| 2 | 5 |
| 3 | 6 |

* How can you modify the call to `matrix()` to produce the following matrix instead?

|   | col_1 |  col_2 |
| --- |---|---|
| row_1 | 1 | 2 |
| row_2 | 3 | 4 |
| row_3 | 5 | 6 |

* Note that you need to name the columns (col_1 and col_2) and name the rows (row_1, row_2, row_3)

Hint: Use the `?` symbol to invoke the matrix documentation

In [1]:
matrix_1 <- matrix(c(1,2,3,4,5,6), byrow=TRUE, ncol=2)
colnames(matrix_1) <- c('col_1', 'col_2')
rownames(matrix_1) <- c('row_1', 'row_2','row_3')
matrix_1

      col_1 col_2
row_1 1     2
row_2 3     4
row_3 5     6

#### Question 2

* Load then sort the airquality data frame on its `Temp` and `Solar.R` columns in reverse order (largest to smallest values)
  * The function to sort a data frame is called order
* Display only the first 15 lines of your table

In [4]:
temp_df <- sort(airquality$Temp, na.last = TRUE, decreasing = TRUE)
solar_df <- sort(airquality$Solar.R, na.last = TRUE, decreasing =TRUE)
new.df <- cbind(temp_df,solar_df)
head(new.df, 15)

#JH this is probably not right way to do it. I used sort() each column separately
#JH because I couldn't figure out how to separately rearranging columns within same data frame.
#JH combination between temp and solar is changed now but not sure what this question is asking.

      temp_df solar_df
 [1,] 97      334
 [2,] 96      332
 [3,] 94      323
 [4,] 94      322
 [5,] 93      322
 [6,] 93      320
 [7,] 93      314
 [8,] 92      313
 [9,] 92      307
[10,] 92      299
[11,] 92      295
[12,] 92      294
[13,] 91      291
[14,] 91      291
[15,] 90      290

#### Question 3

* Sort the airquality data frame on its `Temp` in decreasing order and `Solar.R` in increasing order
* Display only the first 15 lines of your table

In [3]:
solar_df1 <- sort(airquality$Solar.R, na.last = TRUE, decreasing = FALSE)
new.df1 <- cbind(temp_df,solar_df1)
head(new.df1, 15)

      temp_df solar_df1
 [1,] 97       7
 [2,] 96       8
 [3,] 94      13
 [4,] 94      14
 [5,] 93      19
 [6,] 93      20
 [7,] 93      24
 [8,] 92      24
 [9,] 92      25
[10,] 92      27
[11,] 92      31
[12,] 92      36
[13,] 91      37
[14,] 91      44
[15,] 90      47

#### Question 4

* There are various ways to select a subset of observations from a data frame.

* Consult your [R Reference Card](https://cran.r-project.org/doc/contrib/Baggott-refcard-v2.pdf), see `Data Selection and Manipulation` section.
  * What operations can you use to select all observations where the temperature is 72. Give at least two different answers to this question

In [10]:
df <- airquality
#JH using subset() 
new.df3 <- subset(df, Temp == 72)
#JH using dplyr pipe %>%
library(dplyr)
new.df4<- df %>% filter (Temp == 72)
#JH by setting data frame with specific values
new.df5 <- df[df$Temp == 72, ]

#### Question 6

* You may have noticed when working with the `airqulity` data that some values show as `NA`
 * `NA` stands for not available, or missing values.
* A major part of data wrangling consists of cleaning missing values by either:
  * Dropping the lines that have missing values
   * Sometimes we can drop the column with missing values if the column is made of predominantly missing values
  * Imputing the missing values, which uses educated guesses (or more complex algorithms) to fill the missing values
  
* Find and remove all rows that are missing values for the `Solar.R` or `Ozone` variables
* Save the cleaned data to a new data frame called airquality_no_na
  * How many lines have been removed?

In [1]:
#JH Check if there is na in my data
df <- airquality
any(is.na(df))
sum(is.na(df))
colSums(is.na(df))

#JH Removing rows with na using complete.cases()
airquality_no_na <- df[complete.cases(df), ]
#JH Removing rows with na using na.omit()
airquality_no_na1 <- na.omit(df)

#JH Checking if there is any na left
any(is.na(airquality_no_na))
any(is.na(airquality_no_na1))

#JH checking number of rows excluded
nrow(df)- nrow(airquality_no_na)
nrow(df)- nrow(airquality_no_na1)

#JH There is total 44 na (37 in Ozone + 7 Solar.R) in the data, 42 rows are removed.

[1] TRUE

[1] 44

  Ozone Solar.R    Wind    Temp   Month     Day
     37       7       0       0       0       0

[1] FALSE

[1] FALSE

[1] 42

[1] 42

    Ozone Solar.R Wind Temp Month Day
1    41   190      7.4 67   5      1
2    36   118      8.0 72   5      2
3    12   149     12.6 74   5      3
4    18   313     11.5 62   5      4
5    NA    NA     14.3 56   5      5
6    28    NA     14.9 66   5      6
7    23   299      8.6 65   5      7
8    19    99     13.8 59   5      8
9     8    19     20.1 61   5      9
10   NA   194      8.6 69   5     10
11    7    NA      6.9 74   5     11
12   16   256      9.7 69   5     12
13   11   290      9.2 66   5     13
14   14   274     10.9 68   5     14
15   18    65     13.2 58   5     15
16   14   334     11.5 64   5     16
17   34   307     12.0 66   5     17
18    6    78     18.4 57   5     18
19   30   322     11.5 68   5     19
20   11    44      9.7 62   5     20
21    1     8      9.7 59   5     21
22   11   320     16.6 73   5     22
23    4    25      9.7 61   5     23
24   32    92     12.0 61   5     24
25   NA    66     16.6 57   5     25
26   NA   266     14.9 58   5     26
27   NA    NA      8.0 57   5     27
28   23    13     12.0 67   5     28
29   45   252     14.9 81   5     29
30  115   223      5.7 79   5     30
... ...   ...     ...  ...  ...   ...
124 96    167      6.9 91   9      1
125 78    197      5.1 92   9      2
126 73    183      2.8 93   9      3
127 91    189      4.6 93   9      4
128 47     95      7.4 87   9      5
129 32     92     15.5 84   9      6
130 20    252     10.9 80   9      7
131 23    220     10.3 78   9      8
132 21    230     10.9 75   9      9
133 24    259      9.7 73   9     10
134 44    236     14.9 81   9     11
135 21    259     15.5 76   9     12
136 28    238      6.3 77   9     13
137  9     24     10.9 71   9     14
138 13    112     11.5 71   9     15
139 46    237      6.9 78   9     16
140 18    224     13.8 67   9     17
141 13     27     10.3 76   9     18
142 24    238     10.3 68   9     19
143 16    201      8.0 82   9     20
144 13    238     12.6 64   9     21
145 23     14      9.2 71   9     22
146 36    139     10.3 81   9     23
147  7     49     10.3 69   9     24
148 14     20     16.6 63   9     25
149 30    193      6.9 70   9     26
150 NA    145     13.2 77   9     27
151 14    191     14.3 75   9     28
152 18    131      8.0 76   9     29
153 20    223     11.5 68   9     30

#### Question 7
* Let's use a different strategy and impute the missing value.
  * replace the missing values for Solar.R using that month's average.
  * Example:
    * The missing value for line 6 should be replaced with the average for month 5.
    * The missing value for line 97 should be replaced with the average for month 8.

In [32]:
#JH Checking column's with na
colSums(is.na(df))
na.df <- df[rowSums(is.na(df)) > 0,]
#JH Separate data by Month
may.df <- subset(df2, Month == 5)
jun.df <- subset(df2, Month == 6)
jul.df <- subset(df2, Month == 7)
aug.df <- subset(df2, Month == 8)
sep.df <- subset(df2, Month == 9)
#substitute na with column mean for each month using na.aggregate()
library("zoo")
may.df1 <- na.aggregate(may.df)
jun.df1 <- na.aggregate(jun.df)
jul.df1 <- na.aggregate(jul.df)
aug.df1 <- na.aggregate(aug.df)
sep.df1 <- na.aggregate(sep.df)




df$x1[is.na(my_df$x1)] <- mean(my_df$x1, na.rm = TRUE)

  Ozone Solar.R    Wind    Temp   Month     Day
     37       7       0       0       0       0

    Ozone Solar.R Wind Temp Month Day
1    41   190      7.4 67   5      1
2    36   118      8.0 72   5      2
3    12   149     12.6 74   5      3
4    18   313     11.5 62   5      4
5    NA    NA     14.3 56   5      5
6    28    NA     14.9 66   5      6
7    23   299      8.6 65   5      7
8    19    99     13.8 59   5      8
9     8    19     20.1 61   5      9
10   NA   194      8.6 69   5     10
11    7    NA      6.9 74   5     11
12   16   256      9.7 69   5     12
13   11   290      9.2 66   5     13
14   14   274     10.9 68   5     14
15   18    65     13.2 58   5     15
16   14   334     11.5 64   5     16
17   34   307     12.0 66   5     17
18    6    78     18.4 57   5     18
19   30   322     11.5 68   5     19
20   11    44      9.7 62   5     20
21    1     8      9.7 59   5     21
22   11   320     16.6 73   5     22
23    4    25      9.7 61   5     23
24   32    92     12.0 61   5     24
25   NA    66     16.6 57   5     25
26   NA   266     14.9 58   5     26
27   NA    NA      8.0 57   5     27
28   23    13     12.0 67   5     28
29   45   252     14.9 81   5     29
30  115   223      5.7 79   5     30
... ...   ...     ...  ...  ...   ...
124 96    167      6.9 91   9      1
125 78    197      5.1 92   9      2
126 73    183      2.8 93   9      3
127 91    189      4.6 93   9      4
128 47     95      7.4 87   9      5
129 32     92     15.5 84   9      6
130 20    252     10.9 80   9      7
131 23    220     10.3 78   9      8
132 21    230     10.9 75   9      9
133 24    259      9.7 73   9     10
134 44    236     14.9 81   9     11
135 21    259     15.5 76   9     12
136 28    238      6.3 77   9     13
137  9     24     10.9 71   9     14
138 13    112     11.5 71   9     15
139 46    237      6.9 78   9     16
140 18    224     13.8 67   9     17
141 13     27     10.3 76   9     18
142 24    238     10.3 68   9     19
143 16    201      8.0 82   9     20
144 13    238     12.6 64   9     21
145 23     14      9.2 71   9     22
146 36    139     10.3 81   9     23
147  7     49     10.3 69   9     24
148 14     20     16.6 63   9     25
149 30    193      6.9 70   9     26
150 NA    145     13.2 77   9     27
151 14    191     14.3 75   9     28
152 18    131      8.0 76   9     29
153 20    223     11.5 68   9     30

   Ozone Solar.R Wind Temp Month Day
1   41   190      7.4 67   5      1
2   36   118      8.0 72   5      2
3   12   149     12.6 74   5      3
4   18   313     11.5 62   5      4
7   23   299      8.6 65   5      7
8   19    99     13.8 59   5      8
9    8    19     20.1 61   5      9
12  16   256      9.7 69   5     12
13  11   290      9.2 66   5     13
14  14   274     10.9 68   5     14
15  18    65     13.2 58   5     15
16  14   334     11.5 64   5     16
17  34   307     12.0 66   5     17
18   6    78     18.4 57   5     18
19  30   322     11.5 68   5     19
20  11    44      9.7 62   5     20
21   1     8      9.7 59   5     21
22  11   320     16.6 73   5     22
23   4    25      9.7 61   5     23
24  32    92     12.0 61   5     24
28  23    13     12.0 67   5     28
29  45   252     14.9 81   5     29
30 115   223      5.7 79   5     30
31  37   279      7.4 76   5     31

In [3]:
library("dplyr")
library("tidyr")

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [5]:
df %>%
group_by(Month) %>% 
mutate_at(vars(Solar.R), ~replace_na(., mean(., na.rm = TRUE)))

ERROR: Error in UseMethod("group_by"): no applicable method for 'group_by' applied to an object of class "function"